@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.cdnfonts.com/css/beautiful-beach');

@font-face {
  font-family: 'Brittany Signature';
  src: url('../../static/fonts/BrittanySignature.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html,
body {
  font-family: 'Bellefair', serif !important;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.rounded-full {
  border-radius: 9999px;
}

.font-beach {
  font-family: 'Beautiful Beach', sans-serif;
}

.image-bride {
  transition: transform 0.25s;
}

.photo:hover img {
  transform: scale(1.1);
}

.photo:hover img {
  transform: scale(1.1);
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

body {
  background-color: #d6cfc1;
}

.container {
  width: 90%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 768px;
  }
}
